APP_NAME=Sommerfrische Backend
DEBUG=true
API_V1_PREFIX=/api/v1
# DATABASE_URL=sqlite:///./sommerfrische.db
DATABASE_URL=postgresql+psycopg://coolairadmin:20100811PJlp%26@coolair-db-prod.postgres.database.azure.com:5432/postgres?sslmode=require
BACKEND_CORS_ORIGINS=["http://localhost:5173","http://localhost:3000"]

TELECASH_CONNECT_URL=https://www.ipg-online.com/connect/gateway/processing
TELECASH_STORE_NAME=1251369401
TELECASH_SHARED_SECRET=n*=g7pU5HkXF
TELECASH_TIMEZONE=Europe/Berlin
TELECASH_SUCCESS_URL=http://localhost:5173/payment/success
TELECASH_FAIL_URL=http://localhost:5173/payment/failure
TELECASH_CANCEL_URL=http://localhost:5173/payment/cancel
TELECASH_RETURN_BASE_URL=http://localhost:8000/api/v1/payments/telecash/connect/return
# Public HTTPS URL on port 443 if you want server-to-server notifications in production
TELECASH_NOTIFICATION_URL=

SENDGRID_API_KEY=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
SENDGRID_FROM_EMAIL=sommerfrische@wienenergie.at
SENDGRID_FROM_NAME=Sommerfrische
PROVIDER_NOTIFICATION_EMAIL=sommerfrische@wienenergie.at
SENDGRID_FROM_NAME=Sommerfrische

# On Windows, install tzdata in the backend venv if Europe/Berlin is not found.

TELECASH_PAYMENT_METHOD=
TELECASH_LANGUAGE=de_DE

TELECASH_CHECKOUT_OPTION=combinedpage
TELECASH_CHECKOUT_MODE=

TELECASH_BCOUNTRY=AT
