APP_NAME=Sommerfrische Backend
DEBUG=true
API_V1_PREFIX=/api/v1
# DATABASE_URL=sqlite:///./sommerfrische.db
DATABASE_URL=postgresql+psycopg://coolairadmin:20100811PJlp%26@coolair-db-prod.postgres.database.azure.com:5432/postgres?sslmode=require
BACKEND_CORS_ORIGINS=["http://localhost:5173","http://localhost:3000","https://sommerfrische.wienenergie.at","https://green-flower-01526d203.7.azurestaticapps.net", "https://ashy-forest-00a41a303.7.azurestaticapps.net/checkout"]

TELECASH_BASE_URL=https://prod.emea.api.fiservapps.com/sandbox
TELECASH_API_KEY=gFv4FgnWo2AkWlmb85QumOzUiKXfcK1sV7FZ3VudHU1RNqTG
TELECASH_API_SECRET=SLQGTHPQwhzPktELjrt9M6hyphW4mkgTn81MYZkfOVz9WKPdMasjJIVSqG4ekzgt
TELECASH_STORE_ID=72305408
TELECASH_SUCCESS_URL=http://localhost:5173/payment/success
TELECASH_FAIL_URL=http://localhost:5173/payment/failure
TELECASH_CANCEL_URL=http://localhost:5173/payment/cancel
TELECASH_RETURN_BASE_URL=http://localhost:8000/api/v1/payments/telecash/connect/return
TELECASH_NOTIFICATION_URL=http://localhost:8000/api/v1/payments/telecash/notify
TELECASH_PAYMENT_LINK_EXPIRY_HOURS=24

SENDGRID_API_KEY=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
SENDGRID_FROM_EMAIL=sommerfrische@wienenergie.at
SENDGRID_FROM_NAME=Sommerfrische
PROVIDER_NOTIFICATION_EMAIL=sommerfrische@wienenergie.at
SENDGRID_FROM_NAME=Sommerfrische
